*{
    margin: 0;
    padding: 0;
   
} 
h1{
 text-align: center;
	font-family: sans-serif;
	margin-top: 150px;
	font-size: 60px;
	font-weight: 800;
	color: transparent;
	background-image: url(https://media.giphy.com/media/I2sZ6qckkhfLG/giphy.gif);
	background-position: center;
	-webkit-background-clip:text;
}
 